html {
  font-size: 16px;

  .nav-bar-menu {
    display: none;
  }

  .nav-bar-hamburger {
    display: inline-flex;
  }

  @media (min-width: 768px) {
    font-size: 18px;

    .nav-bar-hamburger {
      display: none;
    }

    .nav-screen {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.md-content {
  h2 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  p {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
