@use 'mixins/mixins';

// 版心
.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

[class*='-view'] {
  display: flex;
  min-height: calc(100vh - 4rem);

  .container {
    margin: 3rem auto;
  }

  h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  p {
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: 0.0625rem;
  }

  @media (min-width: 768px) {
    .container {
      margin: 3.5rem auto;
    }
  }

  @media (min-width: 1200px) {
    .container {
      margin: 4rem auto;
    }
  }
}
